.vscode
node_modules
dist
vendor
docker/mysql/data
docker/redis/data
cert/*.perm
cert/*.srf

# Mac caches
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out